<section class='comment_tree'>
  <%= div_for comment do %>
    <section class="comment_metadata">
      <span class='user_name'><%= comment.user.name.titleize %></span>
      <span class='created_at'><%= created_at(comment) %></span>

      <div class='comment_action pull-right'>
        <%= if @user.try( 'persisted?' )
              link_to glyphicon('icon-comment'),
                new_article_comment_path( @article, parent_id: comment.id ),
                class: 'reply',
                title: 'Reply'
            end %>

        <%= if @user.try( 'owner?', comment )
              link_to glyphicon('icon-remove'),
                article_comment_path( @article, comment ),
                method: 'delete', class: 'delete_comment',
                remote: true, title: 'Delete comment'
            end %>
      </div>
    </section>

    <section><%= comment.body_as_html %></section>
  <% end %>

  <%= render nested_comments_for( comment, from: @comments ) if @comments %>
</section>