<section class='comment_tree'>

  <% nested = nested_comments_for( comment, from: @comments ) %>

  <%= div_for comment do %>
    <div class="comment_metadata">
      <span class='user_name'><%= comment.user.name.titleize %></span>
      <span class='created_at'><%= created_at(comment) %></span>

      <%= render 'action', comment: comment, children_count: nested.size %>
    </div>

    <section><%= comment.body_as_html %></section>
  <% end %>

  <%= render nested %>
</section>