<%= if @user.try( 'owner?', comment )
      link_to glyphicon('icon-remove'),
        article_comment_path( @article, comment ),
        method: 'delete', class: 'delete pull-right', title: 'Delete comment'
    end %>

<span><%= comment.created_at.getlocal.strftime "%D %R" %></span>
<div class="comment">
  <h6><%= comment.user.name.titleize %>: <%= comment.title %></h6>
  <p><%= comment.body %></p>
</div>