<%= render 'new' %>

<% @comments.each do |comment| %>
  <span><%= comment.created_at.getlocal.strftime "%D %R" %></span>

  <% if @user.try( 'owner?', comment )
    concat link_to content_tag('i', nil, class: 'icon-remove'),
      article_comment_path( @article, comment ),
      method: 'delete', class: 'delete pull-right', title: 'Delete comment'
   end %>

  <div class="comment">
    <h6><%= comment.user.name.capitalize %>: <%= comment.title %></h6>
    <p><%= comment.body %></p>
  </div>
<% end %>