<%= render partial: 'layouts/alert', collection: flash[:alert] %>

<%= form_for [@article, @comment],
      html: { autocomplete: 'off', 'data-type' => :html },
      remote: true do |form| %>
  <%= form.hidden_field :parent_id, value: @parent_id %>
  <%= form.text_area  :body ,
        placeholder: t('defaults.use_markdown'), rows: 5  %>
  <div>
    <%= form.submit class: 'btn' %>
    <%= form.submit t('defaults.preview'),
          formaction: preview_article_comments_path,
          class: 'btn preview' %>
  </div>
<% end %>