<article>
  <%= link_to( articles_path( with_date @article.created_at ),
        class: 'created_at pull-right', remote: true ) do %>
    <div><%= @article.created_at.strftime "%^h" %></div>
    <div><%= @article.created_at.day %></div>
  <% end %>

  <h1><%= @article.title %></h1>
  <div><%= @article.body_as_html %></div>
</article>

<% if @user.try( 'owner?', @article ) %>
  <%= link_to 'Edit', edit_article_path(@article),
        class: 'btn edit_article', remote: true %>
  <%= link_to 'Delete', @article, method: 'delete', class: 'btn' %>
<% end %>