<nav>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Article</a></li>
    <li><%= link_to( article_comments_path @article ) do %>
          Comments (<%= @article.comments.count %>)
        <% end %>
    </li>
    <li><a href="#">User</a></li>
  </ul>
</nav>

<article>
  <a class="created_at pull-right" href="#">
    <div><%= @article.created_at.strftime "%^h" %></div>
    <div><%= @article.created_at.day %></div>
  </a>

  <h1><%= @article.title %></h1>
  <div><%= @article.body %></div>
</article>