<article>
  <h1>
    <%= @article.title %>

    <%= link_to created_at(@article),
      articles_path( with_date @article.created_at ),
       class: 'created_at pull-right', remote: true %>
  </h1>

  <div><%= @article.body_as_html.html_safe %></div>
</article>

<% for_owner do %>
  <%= link_to 'Edit', edit_article_path(@article),
        class: 'btn edit_article', remote: true %>
  <%= link_to 'Delete', @article, method: 'delete', class: 'btn' %>
<% end %>