<section>
  <h1><%= @article.title %></h1>
  <article>
    <%= @article.body %>
  </article>
</section>

<section>
  <h1>Комментарии:</h1>
  <% @article.comments.each do |comment| %>
    <div>
      <h2><%= comment.title %></h2>
      <%= comment.body %>
    </div>
  <% end %>
</section>

<section>
  <h1>Добавить комментарий:</h1>
  <%= form_for [ @article, @article.comments.new ] do |form| %>
    <%= form.text_field :title, placeholder: "Заголовок комментария" %>
    <%= form.text_area  :body, placeholder: "Тело комментария" %>
    <%= form.submit %>
  <% end %>
</section>
