<%= render partial: 'layouts/alert', collection: flash[:alert] %>

<section class='user'>
  <section class='pull-right info'>
    <span class='muted'><%= @user.email %></span>
    <%= gravatar_image_tag @user.email, class: 'gravatar' %>
  </section>

  <h1>
    <%= link_to @user.name, edit_user_path,
          class: 'edit_user', remote: true,
          title: t('.edit') %>

    <%= link_to glyphicon('icon-remove'), user_path, method: 'delete',
          title: t('.delete'), confirm: t('defaults.confirm') %>
  </h1>
  Welcome to my blog!
</section>

<%= for_admin do
      link_to t('.add_article'), new_article_path,
        class: 'btn new_article', remote: true
    end %>

<%= render template: 'accounts/index' %>
<%= render template: 'accounts/new' %>