<%= render partial: 'layouts/alert', collection: flash[:alert] %>

<section class='user'>
  <h1><%= @user.name %></h1>
  Welcome to my blog!
</section>

<%= for_admin do
      link_to 'New Article', new_article_path,
        class: 'btn new_article', remote: true
    end %>

<%= link_to 'Delete', user_path, class: 'btn', method: 'delete' %>
<%= link_to 'Edit', edit_user_path, class: 'btn edit_user', remote: true %>

<%= render template: 'accounts/index' %>
<%= render template: 'accounts/new' %>