<%= render partial: 'layouts/alert', collection: flash[:alert] %>

<section class='user'>
  <span class='pull-right muted'><%= @user.email %></span>
  <h1>
    <%= link_to @user.name, edit_user_path,
          class: 'edit_user', remote: true,
          title: 'Edit user' %>

    <%= link_to glyphicon('icon-remove'), user_path,
          method: 'delete', title: 'Delete user', confirm: 'Вы уверены?' %>
  </h1>
  Welcome to my blog!
</section>

<%= for_admin do
      link_to 'New Article', new_article_path,
        class: 'btn new_article', remote: true
    end %>

<%= render template: 'accounts/index' %>
<%= render template: 'accounts/new' %>