<nav>
  <ul class="nav nav-tabs">
    <%= tab_for 'Article', article_path(@article) %>

    <%= tab_for "Comments (#{@article.comments.count})",
      article_comments_path(@article) %>

    <%= tab_for 'User', '#' %>
    
<!--     <% if @user.try('persisted?') %>
      <%= tab_for @user.name, user_path %>
    <% else %>
      <%= tab_for 'Login', new_session_path %>
    <% end %> -->
  </ul>
</nav>