<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= @title || 'MyBlog' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="row-fluid">
      <section class="base span7 offset2">
        <%= logout_link if @user.try('persisted?') %>
        <%= render('layouts/nav') if @article.try('persisted?') %>


        <section class="content">
          <%= yield %>
        </section>
      </section>

      <%= render('layouts/aside') if @last_articles %>
  </section>
</body>

</html>
