<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="row-fluid">
    <section class="base span7">

      <% if @user.try('persisted?')
          concat link_to glyphicon('icon-off'), session_path,
            method: 'delete', class: 'pull-right'
         else
          concat link_to glyphicon('icon-plus-sign'), new_user_path,
            class: 'pull-right'
         end %>

      <% if flash[:alert] %>
        <% flash[:alert].each do |message| %>
          <div class="alert alert-error">
            <%= button_tag glyphicon('icon-remove'),
              class: 'close', 'data-dismiss' => 'alert' %>
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <%= render('layouts/nav') if @article.try('persisted?') %>

      <%= yield %>
    </section>

    <%= render('layouts/aside') if @last_articles %>
  </section>

</body>

</html>
