<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= @title || 'MyBlog' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="row-fluid">
      <section class="base span7 offset2">
        <%= for_client { logout_link } %>
        <%= render('layouts/nav') if @article.try('persisted?') %>

        <section class='badges pull-right hide'>
          <%= badges %>
        </section>

        <section class="content">
          <%= yield %>
        </section>
      </section>

      <%= render('layouts/aside') if @last_articles %>
  </section>

  <%= javascript_include_tag "application" %>
  <% rescue; concat debug $!.message %>
</body>
</html>
